<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dttr.demo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Demo</name>
	<author  href="http://www.dotter.com.br" email="sistemas@dotter.com.br">
		Dotter Brasil Ltda
    </author>
    <description>
		Teste de aplicativos para demonstração.
    </description>
	
    <content src="index.html" />
    
	<preference name='phonegap-version' value='cli-7.0.1' />
	<preference name='pgb-builder-version' value='1' />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    <preference name="webviewbounce"    value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="3000"/>
	<preference name="SplashScreen" value="screen"/>
	
    <icon src="icon.png" />
	<gap:splash src="icon.png" density="land-ldpi" qualifier="land-lpdi" />
	
    <plugin name="cordova-plugin-whitelist" version="1" />
	<plugin name="phonegap-plugin-barcodescanner" spec="6.0.8" />
	<plugin spec="https://github.com/RSConcordia/cordova-plugin-geolocation.git" />
	
	<plugin name="cordova-plugin-splashscreen" />
   
	<access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
